
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Sen:wght@400..800&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*-----------HEADER-------------*/
header{
position: sticky;
top: 0;

}
.descuento{
    background-color: #3D5A80;
    font-weight: 200px;
    font-size: 15px;
    color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.header2{
    background-color:bisque;
    height: 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;


    
}



.header2 div h1 {
    font-family: "Lexend", sans-serif;
    color:#EE6644;
    font-size: 80px;
    text-align: center;
    margin-top: 20px;
    border-bottom: 5px solid rgb(0, 0, 0);


}

.header2 div h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(201, 106, 39);
    text-align: center;
    font-size: 40px;
    display: flex;
    justify-content: center;
    flex-direction: t;
    
}


.header2 p{
    display: block;
}



.header2 li{

    
    color:rgb(201, 106, 39);
    text-decoration: none;
    font-family: "Volkhov", serif;
    font-size: 20px;
    display: block;
    font-weight: 50px;

}



.header2 img{
    height: 220px;
    width:220px ;
    padding: 10px;
    border-radius: 2px;
    
    
 
}






nav{ background-color: #3D5A80;
    height: 60px;
    border:2px solid rgba(0, 0, 0, 0.504);
    


}  

nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}









nav  ul li a{

    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: "Sen", sans-serif;
    font-size: 35px;
    font-weight: 50px;
    


}

nav ul li a:hover{
    color: rgb(175, 48, 2);
    transition: all 0.8s;
}





nav  ul li {
    
    text-decoration: none;
    display: inline-block;
    text-align: center;
    
    
    

}











/*----------------MAIN---------------*/


.hero{
    
    
    background-image: url(../img/gato-durmiendo.jpg);
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    width: 100%;
    height: 325px;

    
}

.grid-galeria{
    padding: 200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 300px;
    gap: 20px;
    background-color:  rgb(247, 247, 247);
    
}




.img-1 {
    grid-row: 1/3;
    background-image: url(../img/perro-fondo\,naranja.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 30px;
    
}

.img-1 a{
    text-decoration: none;
    font-family: "Sen", sans-serif;
    font-size: 35px;
    color: rgb(29, 27, 27);
    background-color: bisque;
    display: inline-block;
    border-radius: 30px;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    
    
    
}


.img-2{
    background-image: url(../img/tres-hermanas-hermanos-gatitos-durmiendo-juntos-sobre-fondo-gris_123211-2895.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 30px;
}

.img-2 a{
    text-decoration: none;
    font-family: "Sen", sans-serif;
    font-size: 35px;
    color: rgb(29, 27, 27);
    background-color: bisque;
    border-radius: 30px;
    padding: 10px;
    margin-left: 5px;
    display: inline-block;
    margin-top: 222px;

    
    
}

.img-3{
    background-image: url(../img/moises.1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 30px;
    
    
}
.img-3 a{
    text-decoration: none;
    font-family: "Sen", sans-serif;
    font-size: 35px;
    color: rgb(29, 27, 27);
    background-color: bisque;
    padding: 10px;
    display: inline-block;
    border-radius: 30px;
    margin-left: 260px;
    margin-top: 215px;
    
}

.img-4{
    grid-column: 2/4;
    background-image: url(../img/perros-background\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 30px;
    
    
    
    
}
.img-4 a{ display:flex;
    text-decoration: none;
    font-family: "Sen", sans-serif;
    font-size: 35px;
    color: rgb(29, 27, 27);
    background-color: bisque;
    border-radius: 30px;
    padding: 10px;
    margin-left: 5px;
    
    display: inline-block;
    margin-top: 5px;

}


    



.productos{
    background-color:  rgb(247, 247, 247);
    color: rgb(0, 0, 0);
    font-family: "Sen", sans-serif;
    
    

}

.productos h2{
    font-size: 65px;
    text-align: center;
}

.cubos{
    display: flex;
    justify-content:space-around;
    text-align: center;
    padding: 35px;
    flex-wrap: wrap;
    
    
}

.cubos:hover{
box-shadow: inset;
}


.cubos2{
    border-radius: 50px;
    height: 350px;
    background-color:  #ffffff;
    box-shadow: 1px 0px 49px -3px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 0px 49px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 0px 49px -3px rgba(0,0,0,0.75);
}




.cubos2 img{
    width: 270px;
    height: 220px;
    border-radius: 5px;
    padding: 15px;
    
}


.cubos2 a{
    text-decoration: none;
    background-color: #EE6644;
    color: black;
    padding: 8px;
    border-radius: 30px;
    
    font-size: 30px;

}

.cubos2 h3{
    color: black;
    font-size: 30px;
    margin-bottom: 20px;
}

.cubos2 a{
    width: 112px;
    height: 43px;
    
}

.cubos2 a:hover{
    background-color: rgb(29, 29, 29);
    color: orangered;
    width: 112px;
    height: 43px;
}

.video iframe {
    margin: 50px;
    margin-left: 600px;
    

}
.video h4{
    font-size: 60px;
    
}
.video{
    background-color: black;
    color: white;
}






.card-body{
    font-size:25px ;
    text-align: center;
    font-family: "Lexend", sans-serif;
    display: flex;
    flex-direction: column;
    color: #3D5A80 ;

}

.card-text-1{
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
    font-family: "Lexend", sans-serif;


}

.card-text-2{
    font-family: "Lexend", sans-serif; 
}


.card-title{
    font-size: 120%;
    color: #EE6644;
    font-family: "Lexend", sans-serif; 
    
}
.cardmb-3{
    background-color:rgb(247, 247, 247);
    
    width: 100%;
    height: 80%;
    display: flex;
    justify-content:center;
    padding: 50px;
        
    

    
}

.grid-clientes{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-family: "Lexend", sans-serif;
    
    height: 80%;
    margin-top: 30PX;
    flex-wrap: wrap;
}




    


.grid-clientes div h2{
    color: black;
    text-align: left;
    font-size: 40px;
    margin-left: 30px;
    
    
}

.grid-clientes div p{
    color: gray;
    font-size: 25px;
    
}



.redes-sociales{
    background-color:rgb(247, 247, 247) ;
}
.clientes{
    display: flex;
    justify-content: space-around;
    padding: 40px;
    font-family: "Lexend", sans-serif;
    
}


.instagram{
    text-align: center;
    background-color: rgb(247, 247, 247);
}

.instagram h2{

    font-family: "Lexend", sans-serif;
    font-size: 50px;
    
}

.instagram a{
    text-decoration: none;
    color: #EE6644;
    font-family:'Noto Sans Thai', sans-serif;
    font-size: 20PX;
}

.clientes-satisfechos{
    margin-left: 140PX;
}





.clientes2 img{
    width: 300px;
    height:300px ;
    border-radius: 10PX;
}

.clientes h3{
    text-align: center;
    padding: 2PX;
    margin-top: 5px;
}
.preguntas-frecuentes0{
    background-color:rgb(247, 247, 247) ;
    text-align: center;
}















@media screen and (max-width:650px){

    .header2{
        height: 100px;
    }
    .header2 img{
        height: 80px;
        width: 40px;
        margin-top: 80px;
    }
    h1{ 
        font-size: 50px;
    }
    .header2 a{ 
        font-size: 10px;
        
    }
    .hero h2{
        font-size: 20px;
    }

    .cardmb-3{
        display: inline-block;
    }
    .clientes{
        flex-wrap: wrap;
    }

    nav ul{
        flex-wrap: wrap;
    }

    .pr{
        margin: 10px;
    }
    }



@media screen and (max-width:1000px){
    .grid-galeria{
        grid-template-columns: 2 ,1fr;
        grid-auto-rows: 450px;
    }
    .grid-item{
        grid-column: span 1;
        grid-row: span 1;
    }
    .hero p{
        font-size: 30px;  
    }
    .hero h2{
        font-size:50px ;
    }
    .cardmb-3{
        display: inline-block;
    }

    .clientes{
        flex-wrap: wrap;
    }
    
    .cubos{
        margin: 40px;
    }
    
}

@media screen and (max-width:700px){
    .grid-galeria{
        grid-template-columns: 1fr;
    }
    .grid-item{
        grid-column: span 1;
        grid-row: span 1;
    }
    .cardmb-3{
        display: inline-block;
    }

    .clientes{
        flex-wrap: wrap;
    }
    .header2{
        height: 100px;
    }
    .header2 img{
        height: 80px;
        width: 40px;
        margin-top: 80px;
    }
    h1{ 
        font-size: 50px;
    }
    .header2 a{ 
        font-size: 10px;
        
    }

    nav ul{
        display: inline-block;
    }

    .cubos{
        margin: 40px;
    }

    
    
}

/*---main de pagina productos---*/

.pesta単a1{
    background-color: black;
    color: aliceblue;
    text-align: center;
    font-family: 'Belanosima', sans-serif;
    font-size: 30px;
}


.pesta単a1 h2{
    font-size: 80px;
    border-radius: 2px;
}

.pesta単a1 p{
    font-size: 40px;
    margin-top: 50px;
}

.pesta単a1 img{
    width: 1140px;
    height: 655px;
    border: 2px solid rgb(102, 67, 205);
}





.utah{
    background-color: rgb(102, 67, 205);
    margin-top: 15px;
    font-size: 30px;

}
.utah img{
    margin-top: 30px;
    border: 2px solid black;
    
}

/*---main de pagina contactos---*/

.Contacto{
    background-color: black;
    color: aliceblue;
    text-align: center;
    font-family: 'Belanosima', sans-serif;
    font-size: 30px;
    height: 100vh
} 
.Contacto h2{
    margin-bottom: 50px;
    font-size: 80px;
}







/*----------------FOOTER---------------*/

footer{
    background-color: bisque;
    font-family: 'Belanosima', sans-serif;
    text-align: center;
   

}
footer h2{
    margin: 10px;
    margin-left: 0;
}

footer a{
    padding: 5px;
}




